name: Java CI with Maven
permissions:
  contents: read
  actions: read
  security-events: write
  

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest


    steps:
    - uses: actions/checkout@v4
    - name: Set up JDK 21
      uses: actions/setup-java@v4
      with:
        java-version: '21'
        distribution: 'temurin'
        cache: maven
    - name: Build with Maven
      run: mvn -B package --file pom.xml

    # Optional: Uploads the full dependency graph to GitHub to improve the quality of Dependabot alerts this repository can receive
    - name: Submit dependency snapshot
      if: github.event.pull_request == null || github.event.pull_request.head.repo.full_name == github.repository 
      uses: advanced-security/maven-dependency-submission-action@v1

